
@{
    ViewBag.Title = "AddSubject";
}
@model ClassDeclarationsThsesis.Models.AddSubjectViewModel

<h2>AddSubject</h2>

@foreach (var user in Model.Users)
{
    if (user.email.Replace(" ", String.Empty) == HttpContext.Current.User.Identity.Name)
    {
        if (user.user_type.Replace(" ", String.Empty) == 3.ToString())
        {
            using (Html.BeginForm("AddSubject", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Create a new subject.</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.name, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Submit" />
                    </div>
                </div>
            }
        }
        else
        {
            <p>You do not have enough permissions to enter this page. Contact the administrator.</p>
        }
    }
}