
@{
    ViewBag.Title = "Set a homework";
}

<h2>This window will only be accessible to teachers after logging in.</h2>

<select class="form-control" name="Subjects">
    <option>Select Subject</option>
    <option>NM 1</option>
    <option>NM 2</option>
</select>
<br>
<p>Upload Homework:</p>
<form action="demo_form.asp">
    <input type="file" name="pic" accept="image/*">
</form>
<br>
<table border="1" , width="300">
    <tr>
        <th>Task name</th>
        <th>Points</th>
    </tr>
    <tr>
        <th><input type="text" name="task1"></th>
        <th><input type="text" name="point1"></th>
    </tr>
    <tr>
        <th><input type="text" name="task1"></th>
        <th><input type="text" name="point2"></th>
    </tr>
    <tr>
        <th><input type="text" name="task3"></th>
        <th><input type="text" name="point3"></th>
    </tr>
    <tr>
        <th><input type="text" name="task4"></th>
        <th><input type="text" name="point4"></th>
    </tr>
    <tr>
        <th><input type="text" name="task5"></th>
        <th><input type="text" name="point5"></th>
    </tr>
    <tr>
        <th><input type="text" name="task6"></th>
        <th><input type="text" name="point6"></th>
    </tr>
    <tr>
        <th><input type="text" name="task7"></th>
        <th><input type="text" name="point7"></th>
    </tr>
</table>
<br>
<p>Deadline: &nbsp;<input type="datetime"></p>
<br>
<button type="button">Submit</button>

