
@{
    ViewBag.Title = "Declare";
    
}

<h2>Declare</h2>



<select class="form-control" id="StudentGender" name="Subjects">
    <option>Select Subject</option>
    <option>Subject 1</option>
    <option>Subject 2</option>
</select>

<br>
<p> Homework: <a href="http://www.mini.pw.edu.pl/~iwrobel/NMII_computer_science_winter_2016-17/Exercise%20lists/Ex_list_01_NM2_2016-17.pdf">link</a></p>

