
@{
    ViewBag.Title = "Declare";
    
}

<h2>Declare</h2>



<select class="form-control" id="StudentGender" name="Subjects">
    <option>Select Subject</option>
    <option>Subject 1</option>
    <option>Subject 2</option>
</select>

<br>
<p> Homework: <a href="http://www.mini.pw.edu.pl/~iwrobel/NMII_computer_science_winter_2016-17/Exercise%20lists/Ex_list_01_NM2_2016-17.pdf">link</a></p>
<p>Deadline: <time datetime="2016-12-20 08:00">20.12.2016 12am</time> </p>

<table border="1" , width="300">
    <tr>
        <th>Task name</th>
        <th>Declare</th>
    </tr>
    <tr>
        <th>A1</th>
        <th>&nbsp;<input type="checkbox"/></th>
    </tr>
    <tr>
        <th>A2</th>
        <th>&nbsp;<input type="checkbox" /></th>
    </tr>
    <tr>
        <th>A3</th>
        <th>&nbsp;<input type="checkbox" /></th>
    </tr>
</table>

<button type="button">Submit</button>